
.atividade19{
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 20px;
    .row-abilities{
        display: flex;
        justify-content: space-between;
    }
    
    .activity-image{
        width: 90%;
    }

    .formation{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10%;
        margin-top: 10%;
        text-align: left;
    }

    h2{
        text-align: left;
        margin: 50px 20px;
    }

    h3{
        margin-top: 50px;
    }

    h4{
        margin-top: 50px;
    }

    table{
        width: 100%;
        border: 2px solid white;
        padding: 3px;
        border-radius: 5px;        
        th{
            border-right: 2px solid white;
            padding: 10px;
            text-align: center;
            width: 20%;
        }
        th:last-child{
            border-right: 0px;
        }
        
        td:last-child{
            border-right: 0px ;

        }
        td{
            border-right: 2px solid white;
            border-top: 2px solid white;
            padding: 10px;
            text-align: center;
        }
        .titulotd{
            color: greenyellow;
            font-size: 20px;
        }
    }
    .plano{
        background-color: black;
        margin-bottom: 20px;
    }
    .plano th {
        width: 16%;
    }

    ol{
        text-align: left;
        color: white;
        .list-title{
            font-weight: bold;
            margin: 3px;
            border-radius: 5px;
            border: 1px solid white;
            margin: 20px;
            padding: 5px;

            blockquote{
                margin-bottom: 10px;
                line-height: 25px;
                font-weight: 300;
                text-align: justify;
            }
        }
    }
    .green{
        color: greenyellow;
        font-size: larger;
    }
    .preferencias{
        margin-top: 20px;
    }
    .flex-row {
        display: flex;
        justify-content: space-around;
        
        .btn-solution{
            background: black;
            border: 1px solid greenyellow;
            border-radius: 5px;
            padding: 10px 20px;
            a{
                color: white;
                text-decoration: none;
            }
        }
        .btn-solution:hover{
            box-shadow: 1px 1px 3px greenyellow;
        }
        
    }
}