.home{
    width: 100%;
    background: rgb(29, 29, 29);
    color: white;
    h1{
        margin-left: 20px;
        text-transform: uppercase;
        text-align: center;
    }
    .conteudo{
        width: 50%;
        border: 1px solid black;
        border-radius: 5px;
        margin-right: 5px;
        margin-top: 5px;
        p{
            border-bottom: 3px solid rgb(60, 71, 230);
            background-color: black;
            color: white;
            font-size: 25px;
            font-weight: bold;
            margin: 0;
            text-transform: uppercase;


        }
    }
    .conteudo:last-child{
        margin-right: 0;
    }
    .basico{
        width: 100%;
    }
    ul, ol{
        font-size: 1.2em;
        font-weight: 900;
        text-align: left;
        li{
            height: 120px;
            padding: 5px;
            border-radius: 7px;
            border: 1px solid white;
            margin-top: 30px;
            margin-left: 5%;
            width: 90%;

        }
        blockquote{
            background-color: rgb(15, 15, 15);
            font-size: 0.9em;
            padding: 10px;
            border-radius: 7px;
            border: 1px solid white;

        }

    }
}