
.portfolio{
    width: 100%;
    background: rgb(29, 29, 29);
    color: white;
    .paragraf {
        width: 90%;
        margin: 5%;
        text-align: justify;
        font-size: 18px;
    }
    a {
        text-decoration: none;
        color: rgb(209, 255, 255);
        font-weight: 900;
    }
    ul{
        list-style: none;
        margin: 0;
        li{
            text-transform: uppercase;
            color: rgb(203, 253, 101);
            font-weight: 900;
            font-size: 22px;
        }
    }
    .expList{
        list-style: square;
        text-align: left;
        li{
            text-transform: none;
            font-size: 18px;
            line-height: 24px;
            color: rgb(255, 255, 255);
        
            font-weight: 300;
        }

    }
    .row-abilities{
        display: flex;
        justify-content: space-between;
        width: calc(100% - 5px);
        margin-left: 5px;
        .cartao{
            width: 100%;
            border: 2px solid white;
            border-radius: 20px;
            padding: 20px;
            margin-right: 15px;

        }
    }
    blockquote{
        margin: 2px;
        font-size: 20px;

        color: white;
        text-transform: none;
        text-align: center;
        width: 100%;
        padding: 10px 0px;
        border-radius: 20px;
        transition: all ease-in-out 0.4s;
    }
    blockquote:hover{
        background-color: black;

    }

    
    .activity-image{
        width: 90%;
    }
    .formation{
        width: calc(100% - 10px);
        margin-top: 40px;
        margin-left: 5px;
        margin-right: 5px;

        text-align: left;
        font-size: 18px;
        .certificate{
            border: 1px solid white;
            border-radius: 5px;
            padding: 5px;
            margin-top: 30px;
            .flex-line{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-transform: uppercase;

            }
            .branco{
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                img{
                    border: 6px solid white;
                    border-radius: 5px;
                }
                p{
                    color: white;
                    padding: 5px;
                }
                .exp{
                    text-align: justify;
                    padding: 10px;
                }
            }

        }

    }

    h2{
        text-align: left;
        margin: 20px;
        padding-top: 20px;
        border-top: 2px solid white;
    }
    h3{
        margin-top: 0;
        text-transform: uppercase;
        font-size: 25px;
    }

    ul{
        text-align: left;
        color: white;
    }
    .green{
        color: greenyellow;
        font-size: larger;
    }
    .devicon{
        margin: 20px;
        img{
            margin-left: 5px;
        }
    }
    .flex-row {
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin-left: 10%;
        
        .btn-solution{
            background: black;
            border: 1px solid greenyellow;
            border-radius: 5px;
            padding: 10px 20px;
            width: 20vw;
            a{
                color: white;
                text-decoration: none;
            }
        }
        .btn-solution:hover{
            box-shadow: 1px 1px 3px greenyellow;
        }
        p{
            margin: 5px ;
        }
        
    }
    .school{
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 5px;
        p{
            width: 100%;
        }

    }
}